body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #F4CCA6;
}

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 15px 75px;
    background-color: #482216;
}

.header-title{
    font-weight: 700;
    font-size: 42px;
    color: #FEEBCA;
}

.header-link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.header-link {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FEEBCA
}

.hero-section {
    display: flex;
    margin-top: 25px;
    padding: 15px 75px;
    justify-content: space-between;
    gap: 50px;
}

.hero-left {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    justify-content: center;
}

.hero-text-large {
    font-size: 70px;
    font-weight: 600;
    line-height: 90px;
}

.hero-text-small {
    font-size: 25px;
    line-height: 32px;
}

#hero-image {
    height: 450px;
    width: auto;
    border-radius: 3%;
    box-shadow: 5px 5px 5px gray;
}

#hero-photo-caption {
    font-size: 12px;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #4D4B30;
    color: #FEEBCA;
    padding: 10px;
}

.contact-info-section {
    display: flex;
    flex-direction: row;
    padding: 15px 75px;
    margin-top: 20px;
    justify-content: space-between;
    gap: 50px;
}

#image-of-me {
    height: auto;
    width: 400px;
}

.contact-info-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
}

.contact-form-section {
    display: flex;
    margin-top: 60px;
    padding: 15px 75px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.species-list-section {
    padding: 25px 75px;
}

.species-table {
    width: 100%;
}


